django==6.1
djangorestframework==3.18.0
djangorestframework-simplejwt==5.5.1
django-environ==0.14.0
django-anymail[resend]==15.1
django-cors-headers==4.9.0
psycopg[binary]==3.3.4
openpyxl==3.1.5
gunicorn==26.1.0
whitenoise==6.12.0
